@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#CDDEEE;
}

.swiper-button-next:after,
.swiper-button-prev:after{
  color: rgb(104, 75, 75);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #4444b4 !important; 
}