@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#CDDEEE;
}

.swiper-button-next:after,
.swiper-button-prev:after{
  color: rgb(45, 42, 42);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #2c2cd4 !important; 
}