@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#CDDEEE;
}

.swiper-button-next:after,
.swiper-button-prev:after{
  color: #4444b4;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #4444b4 !important; 
}

html::-webkit-scrollbar{
  display: none;
}

html{
  
}